<div class="jumbotron">

   <h1 class="dingdingtitle"> 丁丁在家 </h1>
   <p class="slogan"><b> 宠物托管，让你的宝宝们舒适如家 </b></p>
   <div class="jombotron" style="padding-top">
      <p class="lead">
         <a class="btn btn-lg btn-danger" href="/jobs" >
         HAVE  it  NOW
         </a>
      </p>
   </div>
</div>


<div class="n module-type-header diyfeLiveArea ">
   <h2>
      <span class="diyfeDecoration">点击“Have it Now”，就可以帮我照顾她^_^</span>
   </h2>
</div>



<div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">关于我们</h2>
         <p class="lead">丁丁在家是一个网上宠物托管的信息共享平台。我们致力于更好的服务，提高宠物福利。<b>平台严禁非法宠物买卖！</b></p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">想成为我们的一份子吗</h2>
         <p class="lead">
         <b>热爱宠物：</b>寄养家庭主人必须正在饲养宠物或曾有多年饲养宠物的经验，了解宠物作息习性，愿意并能无微不至地照顾宠物的饮食及运动。
         </br>
         <b>细心尽责：</b>寄养家庭主人必须在承诺时间内，对所托付寄养宠物尽心尽职，时刻关心宠物的心理和生理状况.
         </br>
         <b>居家环境：</b>寄养家庭所在的住处要求允法饲养宠物；饲养犬类宠物的家庭需居住在拥有前/后花园的房子。
         </br>
         <b>宠物数量：</b>如本身有饲养宠物的家庭想成为寄养家庭的一分子，自家宠物的数量不能超过一只，且宠物总数不能超过2只。
      </p>
       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">萌宠大课堂</h2>
            <%= link_to("萌宠小知识", tips_path)%>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>
