<div class="jumbotron">

   <h1 class="title"> WE WANT YOU </h1>
   <p class="slogan"> Be a Volunteer
      <br>
      一起行动，共创明天
   </p>
   <div class="jombotron" style="padding-top">
   <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs" >HAVE  it  NOW</a></p>
   </div>
</div>


<!--copy from niclin-->
<div class="content-section-a">
   <div class="container">
      <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">关于志愿者工作</h2>
            <p class="lead">奉献社会，传递爱心</p>
          </div>

          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
          </div>
       </div>
   </div>
</div>

<div class="content-section-b">
   <div class="container">
      <div class="row">
         <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">志愿者培训</h2>
            <p class="lead">我们提供志愿者培训</p>
         </div>
         <div class="col-lg-5 col-sm-pull-6  col-sm-6">
            <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
         </div>
      </div>
   </div>
</div>

<div class="content-section-a">
   <div class="container">
      <div class="row">
          <div class="col-lg-5 col-sm-6">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">相关链接</h2>
            <p class="lead">
               <a href="http://www.zgzyz.org.cn/">中国青年志愿者网</a>
            </br>
               <a href="http://www.tzuchi.org.cn/">慈济慈善事业基金会</a>
            </p>
          </div>

          <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
          </div>
       </div>
   </div>
</div>
