<div class="jumbotron">

   <h1 class="title"> 宠物寄养 </h1>
   <p class="slogan"> 爱心传递 </p>
   <div class="jombotron" style="padding-top">
   <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs" >HAVE  it  NOW</a></p>
   </div>
</div>

<div class="n module-type-header diyfeLiveArea ">
   <h1>
      <span class="diyfeDecoration">Donate Today by clicking on the logo. Help us save lives.</span>
   </h1>
</div>



<div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">为它寻找灵魂的出路</h2>
         <p class="lead">减少不正当交易</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">陪伴是最长情的告白</h2>
         <p class="lead">减少不正当交易 <a target="_blank" href="http://blog.niclin.tw">Nic 的 Blog</a>! 啦啦啦啦啦啦啦</p>
       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">友情链接</h2>
         <p class="lead">
            <a target="_blank" href="https://www.hotac.org.tw/donate_index.asp?Donate_Type=regular&gclid=CjwKEAjw85DIBRCy2aT0hPmS1jkSJAC1m9UvT_IYrTaOdSRxxu35RWKpJlgXZpqqGwtKdpHmv7_AQBoC-szw_wcB">台灣之心愛護動物協會
            </a>
         </br>
            <a target="_blank" href="https://www.pawsunitepeople.com/dog-training/">
            pawsunitepeople</a>
         </p>

       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>
