<div class="jumbotron">

   <h1 class="title"> WE WANT YOU </h1>
   <p class="slogan"> Be a Volunteer
      <br>
      一起行动，共创明天
   </p>
   <div class="jombotron" style="padding-top">
   <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs" >HAVE  it  NOW</a></p>
   </div>
</div>
