<<<<<<< HEAD
<footer class="container.foot" style="margin-bottom: 0px;">
   <div class="footer">
      <p class="text-center"> Copyright
         <br> Designed by Amy
      </p>
   </div>
</footer>
=======
   <div class="footer", style="margin-top: 100px;">
       <p class="text-center">Copyright ©2017
           <br>Design by Amyzhang
       </p>
   </div>
>>>>>>> origin/amy1
