<div class="admin_index">
  <div class="panel panel-default">
    <div class="panel-heading" "panel-title text-center ">
      <h2 class="text-center">萌宠大课堂</h2>
    </div>

    <div class="panel-body">
      <div class="container">
         <div class="row">
           <div class="col-lg-12 col-sm-12">

             <div class="clearfix"></div>
             <div class="col-lg-4 col-lg-offset-2 col-sm-4">
               <%= image_tag 'pic-4.jpg', class: 'img-responsive' %>
             </div>
             <h3 class="section-heading" >如何防止狗狗掉毛</h3>
               <li>
                  <b>不要一直宅在家。</b>每天的户外运动和良好的阳光照射非常有助于保证狗狗的皮毛健康。
               </li>
               <li>
                  <b>不要吃太咸。</b>狗狗吃的食物太咸也会导致大量脱毛，不仅仅是咸，包括甜的、辣的、刺激xing、增味素的食物都会引起狗狗的掉毛。
               </li>
               <li>
                  <b>不能过多冲凉。</b>经常洗澡，这对于狗狗来说，和拔毛没有太多的区别!如果担心狗狗的卫生问题，平时可用潮湿的毛巾给外出回来的狗狗做简单的擦拭。
               </li>
           </div>
         </div>
       </div>
    </div>

      <div class="content-section-a">
         <div class="container">
            <div class="row">
             <div class="col-lg-12 col-sm-12">

                <div class="clearfix"></div>
                <div class="col-lg-4 col-lg-offset-2 col-sm-4">
                  <%= image_tag 'pic-5.jpg', class: 'img-responsive' %>
                </div>
                <h3 class="section-heading">急！三招教你如何对付咬人的咪咪🐱</h3>

                     <li>
                        <b>留給它一方清靜。</b>人都需要空間，貓也需要。讓牠自己挑選一處認同、覺得安全的場所，是保持飼主與貓良好關係的第一步喔！
                     </li>
                     <li>
                        <b>在貓咪的「領地」建立良性連結。</b>不要在貓咪吃飯或是上廁所的時候打擾牠們；不要隨意嚇唬、調笑貓咪；以零食拉近彼此距離
                     </li>
                     <li>
                        <b>咨询专业医师是否咪咪身体不健康。</b>當摸不著頭緒的時候，不妨諮詢專業獸醫的建議。問題不但更容易迎刃而解，還能避免因疾病產生的遺憾。
                     </li>

             </div>
            </div>
          </div>
       </div>


  </div>
</div>
